# Ignore node_modules directory
node_modules/

# Ignore build output directory
/dist/

# Ignore environment variables file
.env

# Ignore TypeScript build artifacts
*.tsbuildinfo

# Ignore Visual Studio Code settings
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore npm debugging logs
npm-debug.log*

# Ignore yarn lockfile
yarn.lock

# Ignore editor specific files
*.idea/
*.iml
*.ipr
*.iws
*.log
